extends ./layout.pug

block prepend body
  body.homepage
    
    include ./partials/header.pug
    .container-fluid#leaderboard
      .leaderboard
        h2 Leaderboard
        .panel-group#accordion
          - var n = 0;
          while n < length
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  - var currentHref = ("#collapse" + n);
                  - var currentID = ("collapse" + n);
                  a.collapsed(data-toggle="collapse" data-parent="#accordion" href=currentHref)
                    .row
                      .col-md-6
                        h3#first= players[n]
                      .col-md-6
                        h3#firtsPoints 300pts
              .panel-collapse.collapse(id=currentID)
                .panel-body
                  .row
                    .col-md-6
                      h3 Most Recent Build
                      Table
                        each ship in gameData[n].latestGame
                          tr 
                            td= ship

                    .col-md-6
                      h3 Most Recent Games
                      Table
                        tr
                          th Opponent
                          th Points Won
                          th Point Differential
                        each game in gameData[n].history
                          tr
                            td= game.against
                            td= game.pointsGained
                            td= game.pointDif
            -n++
          
          
    .container-fluid#statistics
      .statistics
        ul.nav.nav-tabs.nav-justified(role="tablist")
          li.active(role="presentation")
            a(href="#home" aria-controls="home" role="tab" data-toggle="tab") Home
          li(role="presentation")
            a(href="#profile" aria-controls="profile" role="tab" data-toggle="tab") Profile
          li(role="presentation")
            a(href="#messages" aria-controls="messages" role="tab" data-toggle="tab") Messages
          li(role="presentation")
            a(href="#settings" aria-controls="settings" role="tab" data-toggle="tab") Settings

        <!-- Tab panes -->
        div.tab-content
          div#home.tab-pane.active(role="tabpanel") Home Content
          div#profile.tab-pane(role="tabpanel") Profile Content
          div#messages.tab-pane(role="tabpanel") Messages Content
          div#settings.tab-pane(role="tabpanel") Settings Content
          
    include ./partials/footer.pug
