extends ./layout.pug

block prepend body
  body.homepage
    
    include ./partials/header.pug
    .container-fluid#leaderboard
      .leaderboard
        h2 Leaderboard
        .panel-group#accordion
          - var n = 0;
          while n < length
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  - var currentHref = ("#collapse" + n);
                  - var currentID = ("collapse" + n);
                  a.collapsed(data-toggle="collapse" data-parent="#accordion" href=currentHref)
                    .row
                      .col-md-6
                        h3= players[n].name
                        |Pilot
                      .col-md-6
                        h3= players[n].pointTotal
                        | Points
              .panel-collapse.collapse(id=currentID)
                .panel-body
                  .row
                    .col-md-6
                      h3 Most Recent Build
                      Table
                        each ship in gameData[n].latestGame
                          tr 
                            td= ship

                    .col-md-6
                      h3 Most Recent Games
                      Table.centered
                        tr
                          th Opponent
                          th Points Won
                          th Point Differential
                        each game in gameData[n].history
                          tr
                            td= game.against
                            td= game.pointsGained
                            td= game.pointDif
            -n++
          
          
    .container-fluid#statistics
      .statistics
        h2 Statistics
        .data 
          h3 Most Popular Ships:
            .row
              .col-md-2
              .col-md-4  
                h4.underline Pilot Name
              .col-md-4  
                h4.underline Popularity
              .col-md-2  
            each ship in shipPop
              .row
                .col-md-2
                .col-md-4  
                  h4= ship.name
                .col-md-4  
                  h4= ship.pop
                .col-md-2  
          
    include ./partials/footer.pug
